@import "../uniform/uniform";

// ! -------------------------------------------------

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f4f2;
    overflow-x: hidden;
}

// ! -------------------------------------------------


// .picDiv{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     width: 100%;
//     z-index: 10;
//     position: absolute;
//     z-index: 8;
//     background-color: #654545;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     height: 100vh;
//     flex-direction: column;
//     .title{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         font-size: 8vh;
//         text-transform: uppercase;
//         p{
//             color: white;
//             font-weight: bold;
//             text-align: center;
//         }
//     }
//     .text{
//         margin-top: 7vmin;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         font-size: 4vh;
//         p{
//             color: white;
//             font-weight: 400;
//             text-align: center;
//         }
//     }
// }

.topnav{
    @include centerDiv(row, nowrap);
    padding: 0 8vmin;
    position: absolute;
    z-index: 10;
    .title{
        @include centerDiv(row, nowrap);
        justify-content: flex-start;
        padding: 5vmin 0 0 5vmin;
        h3{
            font-size: 5vh;
            font-weight: bold;
        }
    }
    .options{
        @include centerDiv(row, nowrap);
        justify-content: flex-end;
        button{
            @include centerDiv(column, nowrap);
            width: auto;
            padding: 3vmin 5vmin;
            text-decoration: none;
            border: none;
            background-color: transparent;
            outline: none;
            &:hover{
                cursor: pointer;
            }
            &:active{
                outline: none;
            }
            p{
                font-size: 2.5vh;
                font-weight: bold;
            }
            span{
                transition: all 0.5s;
                background-color:  black;
                width: 0%;
                height: 2px;
                margin-top: 1vmin;
            }
        }
    }
}

// ! -------------------------------------------------

.mainContent{
    @include centerDiv(row, nowrap);
    .firstElement{
        @include centerDiv(row, nowrap);
        justify-content: space-evenly;
        padding: 0vmin 5vmin 10vmin 5vmin;
        .text{
            @include centerDiv(row, nowrap);
            justify-content: flex-end;
            align-items: flex-start;
            border-radius: 8px;
            position: relative;
            height: 100vh;
            img{
                position: absolute;
                z-index: 8;
                top: auto;
                bottom: auto;
                left: 0vmin;
                border-radius: 10px;
                top: 20vmin;
                width: 70vmin;
            }
            .content{
                @include centerDiv(column, nowrap);
                max-width: 60%;
                border-radius: 5px;
                &::after{
                    content: "";
                    padding: 55vmin 75vmin;
                    background-color: #d8c2ad;
                    position: absolute;
                    z-index: -1;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
                }
                h1{
                    font-size: 5vh;
                    text-align: center;
                    margin-top: 20vmin;
                }
                p{
                    margin-top: 20vmin;
                    width: 60vmin;
                    margin-bottom: 10vmin;
                }
            }
        }
    }
}